*.csv

# Исключаем виртуальное окружение Python
.venv
venv/
*.venv

# Исключаем большие файлы моделей, которые мы уже определили
*.bin
*.bin.gz
*.pt
*.pth

# Исключаем файлы Git
.git
.gitignore
.gitattributes

# Исключаем кеш Python
__pycache__/
*.pyc
*.pyo

# Исключаем файлы IDE
.idea/
.vscode/

# Исключаем другие ненужные файлы
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
Дивизионы.xlsx