*.csv

# Исключаем виртуальное окружение Python
.venv
venv/
*.venv

# Исключаем большие файлы моделей, которые мы уже определили
*.bin
*.bin.gz
*.pt
*.pth

# Исключаем папки с данными, которые не нужны для сборки
# Если вы их монтируете через volumes, их точно не нужно копировать
gpt_db/data/
# model_data/  (если у вас есть такая папка)

# Исключаем файлы Git
.git
.gitignore
.gitattributes

# Исключаем кеш Python
__pycache__/
*.pyc
*.pyo

# Исключаем файлы IDE
.idea/
.vscode/

# Исключаем другие ненужные файлы
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
Дивизионы.xlsx